* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: poppins, sans-serif;
  background-color: #f3f3f3;
}

nav {
  height: 70px;
  display: flex;
  box-shadow: 8px 8px 10px rgb(218, 218, 218);
  padding: 20px 36px;
}
.nav--icon {
  max-width: 100px;
}

/* Hero section */

.hero--div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.hero--img {
  min-width: 500px;
  max-width: 50%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.hero--text {
  margin-left: 36px;
}
.hero--text > h1 {
  font-size: 2.5rem;
}

.hero--text > p {
  max-width: 280px;
}
